@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400');

@import "./foundation.min.css";

/* Common Style */
.row.row {
	max-width: 1100px;
}

.text-center {
	text-align: center;
}

body {
	padding: 0;
	margin: 0;
	background: rgba(88, 41, 199, 0.1) !important;
	font-family: Montserrat;
	font-size: 16px;
	line-height: 25px;
	letter-spacing: 0.2px;
}

/* Site Header Style */
.site-header {
	background: #5829c7;
	padding: 30px 0;
	color: #fff;
}

.site-header--logo {
	font-weight: 400;
	margin: 0;
}

.site-header--menu a {
	display: inline-block;
	margin: 0 20px;
	color: inherit;
	text-decoration: none;
}

/* Site Footer Style */
.site-footer {
	background: #5829c7;
	padding: 15px 0;
}

.site-footer p {
	margin: 0;
	color: #fff;
}

/* Recipe form style */
.recipe-form {
	padding: 30px 0;
}

.recipe-form--input {
	border: none;
	border-bottom: 2px solid rgba(88, 41, 199, 0.7);
	margin-right: 15px;
	outline: none;
	background-color: transparent;
}

.recipe-form--submit {
	background: rgba(88, 41, 199, 0.7);
	color: #fff;
	cursor: pointer;
	outline: none;
	padding: 9px 10px;
}

/* Recipe list style */
.recipe-list {
	padding: 30px 0;
	display: block;
	overflow: hidden;
}

.recipe-list .columns {
	float: left;
	width: 30%;
}

.recipe-list--wrap {
	background: #fff;
	border-radius: 3px;
	overflow: hidden;
	margin-bottom: 20px;
}

.recipe-list--wrap img {
	width: 100%;
	height: 250px;
	object-fit: cover;
}

.recipe-list--details {
	padding: 10px;
}

.recipe-single {
	padding: 50px 0;
}

.recipe-single__title {
	margin-bottom: 0;
}